body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "OpenSans";
  font-display: swap;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.link-reset {
  text-decoration: none;
  color: #ffffff;
}
.title-style {
  margin: 0;
  padding: 0;
}
.mp-reset {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/opensans.woff) format("woff"), url(../fonts/opensans.woff2) format("woff2");
}
@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/opensansbold.woff) format("woff"), url(../fonts/opensansbold.woff2) format("woff2");
}
@font-face {
  font-family: "OpenSansLight";
  src: url(../fonts/opensanslight.woff) format("woff"), url(../fonts/opensanslight.woff2) format("woff2");
}
.page-header {
  position: relative;
  padding-bottom: 394px;
}
.page-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg-back-tablet@1x.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #283645;
}
@media (max-width: 320px) {
  .page-header::before {
    background-image: url(../img/bg-back-mobile@1x.jpg);
  }
}
.page-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../img/iphone-hand-mobile@1x.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.page-header__logo {
  position: relative;
  width: 100%;
  display: block;
  padding: 20px 0px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.page-header__logo picture {
  padding-left: 22px;
}
.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #283645;
}
.main-nav__item {
  position: relative;
  margin: 0;
  padding: 0;
  padding: 16px 0px;
}
.main-nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.main-nav__item a {
  text-decoration: none;
  color: #ffffff;
}
.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  display: block;
  width: 50px;
  height: 24px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 0 0 #ffffff, 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
}
.main-nav--opened .main-nav__toggle {
  width: 24px;
  height: 23px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: '';
  position: absolute;
  top: 8px;
  left: -3px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .page-header__logo {
  background-color: #283645;
}
.main-nav--opened .page-header__logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
}
.main-nav--closed .main-nav__list {
  display: none;
}
@media (min-width: 1200px) {
  .main-nav__list {
    font-family: "OpenSans";
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }
}
.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #283645;
}
@media (min-width: 1200px) {
  .copyright__text {
    font-size: 18px;
  }
}
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.button {
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 18px;
}
.intro {
  background-color: #1d2631;
}
.intro__slogan {
  font-family: "OpenSansLight";
  font-size: 40px;
  line-height: 48px;
  font-weight: lighter;
  color: #ffffff;
}
.intro__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.intro__text {
  font-family: "OpenSansLight";
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
@media (min-width: 1200px) {
  .intro__slogan {
    font-size: 50px;
    line-height: 68px;
  }
  .intro__download-link {
    font-size: 21px;
  }
  .intro__text {
    font-size: 18px;
  }
}
.information__text {
  font-family: "OpenSansLight";
  font-size: 24px;
  line-height: 29px;
  color: #283645;
}
.information__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.information__item-title {
  font-family: "OpenSansBold";
  font-size: 18px;
  line-height: 24px;
}
.information__item-text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
@media (min-width: 660px) {
  .information__text {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (min-width: 1200px) {
  .information__text {
    font-size: 50px;
    line-height: 68px;
  }
  .information__item-title {
    font-size: 30px;
    line-height: 30px;
  }
  .information__item-text {
    font-size: 18px;
    line-height: 30px;
  }
}
.effect__title {
  font-family: "OpenSansBold";
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
.effect__text {
  font-family: "OpenSansLight";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.effect__link {
  font-family: "OpenSansLight";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
}
@media (min-width: 1200px) {
  .effect__title {
    line-height: 30px;
  }
  .effect__text {
    font-family: "OpenSans";
    font-size: 18px;
    line-height: 30px;
  }
  .effect__link {
    font-family: "OpenSans";
    font-size: 18px;
    line-height: 30px;
  }
}
.reviews__author-name {
  font-family: "OpenSansBold";
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}
.reviews__author-name span {
  font-family: "OpenSans";
  font-weight: lighter;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
@media (min-width: 660px) {
  .reviews__author-name {
    font-size: 20px;
  }
  .reviews__text {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .reviews__author-name {
    font-size: 24px;
  }
  .reviews__author-name span {
    font-size: 18px;
  }
}
.prices__head td {
  background-color: #283645;
}
.prices__head td:first-child {
  background-color: transparent;
}
.prices__rate {
  font-family: "OpenSansBold";
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.prices__price {
  font-family: "OpenSansLight";
  font-weight: lighter;
}
.prices__feature {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
@media (min-width: 1200px) {
  .prices__rate {
    font-size: 18px;
  }
  .prices__price {
    font-size: 24px;
    line-height: 30px;
  }
  .prices__feature {
    font-size: 18px;
  }
}
.contacts__title {
  font-family: "OpenSansLight";
  font-weight: lighter;
  font-size: 24px;
  line-height: 29px;
  color: #283645;
}
.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contacts__item-title {
  font-family: "OpenSansBold";
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #283645;
}
.contacts__text {
  font-family: "OpenSansLight";
  font-weight: lighter;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
  text-decoration: none;
}
@media (min-width: 660px) {
  .contacts__title {
    font-size: 40px;
    line-height: 54px;
  }
}
@media (min-width: 1200px) {
  .contacts__title {
    font-size: 50px;
    line-height: 68px;
  }
}
.photo__title {
  font-family: "OpenSansLight";
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
.photo__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.photo__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.photo__item-wrapper {
  background-color: #f2f2f2;
}
.photo__author {
  font-family: "OpenSansBold";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.photo__time {
  font-family: "OpenSansLight";
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
.photo__description {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.photo__likes {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
}
@media (min-width: 660px) {
  .photo__title {
    font-size: 50px;
    line-height: 68px;
  }
  .photo__text {
    font-size: 18px;
  }
}
.editor__button--post {
  color: #d22856;
}
.editor__button--cancel {
  color: #283645;
  opacity: 0.1;
}
.contest__title {
  font-family: "OpenSansLight";
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
.contest__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.contest__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #283645;
}
.contest__legend sup {
  color: #d22856;
}
@media (min-width: 660px) {
  .contest__title {
    font-size: 50px;
    line-height: 68px;
  }
  .contest__text {
    font-size: 18px;
  }
}
.form__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
}
.form__label {
  line-height: 30px;
}
.form__label--red {
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
}
.form__label--blue {
  font-size: 18px;
  color: #283645;
}
.form__input {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.form__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
.form__button {
  line-height: 30px;
  background-color: #2aab6d;
}
@media (min-width: 660px) {
  .form__title {
    line-height: 30px;
  }
}
