.copyright {
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright__text {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	color: @main-color;
}

.copyright__link {
	display: block;
	width: 27px;
	height: 34px;
	margin-left: 15px;
	
	background-image: url(../img/logo-htmlacademy.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
	
	&:hover path,
	&:focus path {
		fill: @main-color;
	}
	
	&:active {
		opacity: 0.3;
	}
}

@media (min-width: @desktop-width) {
	.copyright__text {
		font-size: 18px;
	}
}