.form__wrapper {
	padding: 0 20px 44px;

	background-color: #f2f2f2;
}

.form__title {
	display: block;
	padding: 36px 30px;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: @red-color;
}

.form__label {
	position: relative;

	display: block;

	line-height: 30px;
}

.form__label--red {
	margin-left: 23px;
	margin-bottom: 7px;

	font-size: 14px;
	text-transform: uppercase;
	color: @red-color;
}

.form__label--blue {
	padding: 4px 0px 5px 70px;
	margin-bottom: 43px;

	font-size: 18px;
	color: @main-color;
}

.form__input-wrapper {
	.mp-reset;

	&:last-child .form__label--blue {
		margin-bottom: 0;
	}
}

.form__achievement-checkbox + .form__label {
	position: relative;

	&::before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		width: 35px;
		height: 35px;

		background-color: #ffffff;
		border: 2px solid #e5e5e5;
		border-radius: 3px;
	}
}

.form__achievement-checkbox:checked + .form__label {

	&::after {
		content: '';

		position: absolute;
		top: 11px;
		left: 9px;

		width: 22px;
		height: 16px;


		background-image: url(../img/icon-yes-red.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.form__input {
	width: 100%;
	padding: 13px 20px 14px;
	margin-bottom: 19px;

	font-size: 18px;
	line-height: 30px;
	color: @main-color;
	border: 2px solid #e5e5e5;
	border-radius: 3px;

	box-sizing: border-box;

	&::placeholder {
		font-size: 18px;
		line-height: 30px;
		color: @main-color;
	}
}

.form__achievements {
	padding: 0;
}

.form__contacts {
	padding-top: 34px;
}

.form__contacts .form__title {
	display: none;
}

.form__application {
	padding: 0;
}

.form__radio + .form__label {
	position: relative;

	&::before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		width: 35px;
		height: 35px;

		background-color: #ffffff;
		border: 2px solid #e5e5e5;
		border-radius: 50%;
	}
}

.form__radio:checked + .form__label {
	&::after {
		content: '';

		position: absolute;
		top: 12px;
		left: 12px;

		width: 14px;
		height: 14px;

		background-color: @red-color;
		border-radius: 50%;
	}
}

.form__emotions {

	& .form__title {
		padding: 34px 48px 12px;
	}
}

.form__input--textarea {
	height: 197px;
	margin-bottom: 0;
}

.form__button-wrapper {
	padding: 0 20px;
	margin-top: 48px;
}

.form__button {
	width: 100%;
	padding: 16px 0;

	line-height: 30px;
	text-transform: uppercase;

	background-color: #2aab6d;
	border: none;
	border-radius: 3px;
}

@media (min-width: @tablet-width) {
	.form {
		padding: 0 20px;
		display: flex;
		flex-wrap: wrap;
	}

	.form__wrapper {
		.mp-reset;
		padding: 0 48px;
		background: none;
	}

	.form__title {
		width: auto;
		.mp-reset;
		margin-top: -15px;

		line-height: 30px;

		background-color: #ffffff;
	}

	.form__input-wrapper {
		position: relative;

		display: flex;
		align-items: center;
		margin-bottom: 54px;
	}

	.form__input {
		margin-bottom: 0;
	}

	.form__input-wrapper--phone,
	.form__input-wrapper--post {

		&::before {
			content: '';

			position: absolute;
			top: 0;
			right: 0;

			width: 60px;
			height: 60px;

			background-color: #e5e5e5;
		}
	}

	.form__input-wrapper--phone {

		&::before {
			background-image: url(../img/icon-phone.svg);
			background-position: 20px 21px;
			background-repeat: no-repeat;
		}
	}

	.form__input-wrapper--post {

		&::before {
			background-image: url(../img/icon-mail.svg);
			background-position: 21px 23px;
			background-repeat: no-repeat;
		}
	}

	.form__label--red {
		margin: 0;
		margin-right: 20px;
	}

	.form__label--blue {
		margin-bottom: 0;
	}

	.form__personal-info {
		order: 1;
		border: none;
	}

	.form__application {

		order: 2;

		& .form__title {
			margin: -15px 10% 40px 10%;
		}

		& .form__input-wrapper {
			margin-bottom: 34px;

			&:last-child {
				margin-bottom: 54px;
			}
		}
	}

	.form__contacts {
		padding: 33px 58px 0;

		order: 3;

		& .form__title {
			display: block;
			padding: 0 32px;
		}

		& .form__input-wrapper {
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 30px;

			& .form__label {
				margin-left: 20px;
				margin-top: 10px;

				order: 2;
			}
		}
	}

	.form__achievements {
		order: 4;

		& .form__title {
			margin: -15px 10% 40px 10%;
		}

		& .form__input-wrapper {
			margin-bottom: 43px;
		}
	}

	.form__emotions {
		padding: 0 48px;

		order: 5;

		& .form__title {
			padding: 0 38px;
			margin-bottom: 31px;
		}

		& .form__input--textarea {
			margin-bottom: 50px;
		}
	}

	.form__button-wrapper {
		width: 100%;
		padding: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0;

		order: 6;
	}

	.form__button {
		width: 300px;
	}
}

@media (min-width: @desktop-width) {
	.form {
		padding: 0;
		justify-content: space-between;
	}

	.form__wrapper {
		padding: 0 58px;
	}

	.form__input-wrapper {

		&:last-child {
			margin-bottom: 0;
		}
	}

	.form__personal-info {
		width: 435px;
		padding: 0;
		padding-top: 6px;
	}

	.form__application {
		width: 435px;

		& .form__title {
			width: 368px;
			margin: 0 auto;
			margin: -15px auto 40px;
		}

		& .form__input-wrapper {
			padding: 0 74px;
			
			&:last-child {
				margin-bottom: 54px;
			}
		}
		
		& .form__wrapper {
			padding: 0;
		}
	}

	.form__contacts {
		display: flex;
		justify-content: space-between;

		& .form__input-wrapper {
			width: 371px;
		}
	}

	.form__achievements {
		padding-bottom: 12px;

		& .form__wrapper {
			display: flex;
			flex-wrap: wrap;
		}

		& .form__title {
			width: 100%;
		}

		& .form__input-wrapper {
			width: 32%;
			margin-right: 2%;
			margin-bottom: 43px;

			&:nth-child(3n+1) {
				margin-right: 0;
			}
		}

		.form__label--blue {
			padding-left: 60px;
		}
	}

	.form__emotion {
		padding: 0 58px;
		margin-bottom: 65px;
	}

	.form__input--textarea {
		height: 124px;
	}
}
