.intro {
	background-color: #1d2631;
}

.intro__slogan {
	font-family: "OpenSansLight";
	font-size: 40px;
	font-weight: lighter;
	color: #ffffff;
}

.intro__download-link {
	.link-reset;
	
	font-family: "OpenSansBold";
	font-size: 18px;
	line-height: 18px;
}

.intro__list {
	.list-reset;
}

.intro__text {
	font-family: "OpenSansLight";
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
}