.intro {
	position: relative;

	width: auto;
	order: 2;

	background-color: #1d2631;


	&::before {
		content: '';

		position: absolute;
		top: -287px;
		left: 0;

		width: 256px;
		height: 287px;

		background-image: url(../img/iphone-hand-mobile@1x.png);
		background-position: center bottom;
		background-repeat: no-repeat;
	}
}

.intro__wrapper {
	width: 88%;
	margin: 0 auto;
	padding: 28px 0;
}

.intro__slogan {
	display: none;

	font-family: "OpenSansLight";
	font-size: 40px;
	line-height: 48px;
	font-weight: lighter;
	color: #ffffff;
}

.intro__download-link {
	padding: 15px 0 16px;

	text-align: center;

	border: 3px solid #ffffff;
	border-radius: 50px;
}

.intro__list {
	.list-reset;

	padding: 0 14%;
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro__text {
	.mp-reset;
	margin-top: 24px;

	font-family: "OpenSansLight";
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
}

@media (min-width: @tablet-width) {
	.intro {
		width: 94%;
		max-width: 940px;
		margin: 0 auto;
		margin-top: 74px;
		padding-bottom: 103px;
		padding-top: 18px;
		
		background-image: url(../img/iphone-hand-tablet@1x.png);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-color: transparent;
		
		
		&::before {
			content: none;
		}
	}

	.intro__wrapper {
		width: 300px;
		padding: 0;
		margin: 0;

		background-color: transparent;
	}

	.intro__slogan {
		display: block;
		padding: 0 30px;
		margin-bottom: 33px;

		text-align: center;
	}

	.intro__list {
		margin-top: 46px;
	}

	.intro__text {
		margin-top: 38px;

		font-size: 18px;
	}
}

@media (min-width: @desktop-width) {
	.intro {
		padding-top: 0px;
		padding-bottom: 99px;
		
		background-image: url(../img/iphone-hand-desktop@1x.png);
	}
	.intro__slogan {
		margin-bottom: 53px;
		
		font-size: 50px;
		line-height: 68px;
	}

	.intro__download-link {
		font-size: 21px;
	}
	
	.intro__list {
		margin-top: 67px;
	}

	.intro__text {
		margin-top: 58px;
		
		font-size: 18px;
	}
}
