.main-nav__list {
	.list-reset;
	
	font-family: "OpenSansBold";
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	text-transform: uppercase;
}

.main-nav__item a {
	.link-reset;
}

@media (min-width: @desktop-width) {
	.main-nav__list {
		font-family: "OpenSans";
		font-weight: 400;
		line-height: 18px;
		text-transform: none;
	}
}