.page-header {
	position: relative;

	display: flex;
	flex-direction: column;
}

.page-header__logo {
	position: relative;

	width: 100%;
	display: block;
	padding: 20px 0px;

	background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo picture {
	padding-left: 22px;
}

@media (min-width: @tablet-width) {
	.page-header {
		
		
		&--main:after {
			background-image: url(../img/iphone-hand-tablet@1x.png);
			background-position-y: 187px;
			}
	}
	
	.page-header__logo {
		padding: 27px 0 40px;
	}
	
	.page-header__logo-image {
		width: 147px;
		height: 40px;
	}
}
