.page-header {
	position: relative;

	padding-bottom: 394px;

	&::before {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-image: url(../img/bg-back-tablet@1x.jpg);
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: @main-color;

		@media (max-width: @mobile-width) {
			background-image: url(../img/bg-back-mobile@1x.jpg);
			background-size: auto;
		}
	}

	&--main::after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-image: url(../img/iphone-hand-mobile@1x.png);
		background-position: center bottom;
		background-repeat: no-repeat;
	}
}

.page-header__logo {
	position: relative;

	width: 100%;
	display: block;
	padding: 20px 0px 20px;

	background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo picture {
	padding-left: 22px;
}
