.prices {
	position: relative;

	padding-top: 90px;
	padding-bottom: 100px;

	background-color: #f2f2f2;

	&::before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;

		border-color: transparent transparent transparent #ffffff;
		border-style: solid;
		border-width: 0px 0px 32px 100vw;
	}
}

.prices__wrapper {
	width: 280px;
	max-width: 940px;
	margin: 0 auto;
}

.prices__table {
	overflow: hidden;
	border-collapse: collapse;
}

.prices__table--start {
	transform: translateX(0px);
}

.prices__table--center {
	transform: translateX(-280px);
}

.prices__table--end {
	transform: translateX(-560px);
}

.prices__table tr {
	display: flex;

	border-bottom: 2px solid #e5e5e5;
}

.prices td {
	position: relative;

	display: block;
	width: 254px;
	.mp-reset;
	padding: 14px 0 13px 22px;

	border-left: 2px solid #e5e5e5;
	background-color: #ffffff;

	&:first-child {
		display: none;
	}

	&:last-child {
		border-right: 2px solid #e5e5e5;
	}
}

.prices__head td {
	width: 276px;
	padding: 17px 0 19px;

	text-align: center;

	border-left: 2px solid @main-color;
	background-color: @main-color;

	&:first-child {
		border: 2px solid transparent;
		background-color: transparent;
	}

	&:nth-child(2) {
		border-top-left-radius: 5px;
	}

	&:nth-child(3) {
		border-right: 2px solid #e5e5e5;
		border-left: 2px solid #e5e5e5;
	}

	&:last-child {
		border-right: 2px solid @main-color;
		border-top-right-radius: 5px;
		border-left: none;
	}
}

td.prices__hit {
	//	border-right: 2px solid #e5e5e5;
	//	border-left: 2px solid #e5e5e5;
}

.prices__hit {
	position: relative;

	&::before {
		content: '';

		position: absolute;
		top: 18px;
		left: -28px;

		width: 74px;

		font-size: 14px;
		line-height: 30px;
		font-weight: 400;

		border-right: 24px solid transparent;
		border-left: 23px solid transparent;
		border-bottom: 23px solid @red-color;
		transform: rotate(-45deg);
	}

	&::after {
		content: 'хит';

		position: absolute;
		top: 17px;
		left: 14px;

		font-size: 14px;
		line-height: 30px;
		font-weight: 400;

		transform: rotate(-45deg);
	}
}

.prices__rate {
	font-family: "OpenSansBold";
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercase;
}

.prices__price {
	display: block;
	margin-top: 3px;

	font-family: "OpenSansLight";
	font-size: 24px;
	font-weight: lighter;
}

.prices__feature {
	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	color: @main-color;
}

.prices__yes {
	&::before {
		content: '';

		position: absolute;
		top: 20px;
		right: 17px;

		width: 31px;
		height: 21px;

		background-image: url(../img/icon-yes.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}

.prices__no {
	&::before {
		content: '';

		position: absolute;
		top: 15px;
		right: 19px;

		width: 27px;
		height: 27px;

		background-image: url(../img/icon-no.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
}

.prices__toggles {
	position: absolute;
	bottom: 47px;
	left: 50%;

	.mp-reset;

	transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
	.prices {
		padding-bottom: 70px;

		&::before {
			border-bottom-width: 50px;
		}
	}

	.prices__wrapper {
		width: 94%;
	}

	.prices__table {
		width: 100%;
		margin: 0 auto;
	}

	.prices__table--center {
		transform: none;
	}

	.prices__table td {
		width: 25%;
		min-height: 45px;
		padding: 0;

		&:first-child {
			display: block;
		}
	}

	.prices__hit {

		&::before {
			top: 8px;
			left: -22px;

			width: 34px;
		}

		&::after {
			top: 4px;
			left: 4px;
		}
	}

	.prices__head td {
		padding-top: 14px;
		padding-bottom: 10px;

		&:first-child {
			border-left: none;
		}
	}

	.prices__rate {
		font-size: 16px;
	}

	.prices__price {
		font-size: 18px;
	}


	span.prices__feature {
		display: none;
	}

	td.prices__feature {
		width: calc(25% - 15px);
		min-height: 37px;
		padding-left: 15px;
		padding-top: 8px;
		text-transform: none;
	}

	.prices__yes {

		&::before {
			top: 50%;
			right: 50%;

			transform: translate(50%, -50%);
		}

	}

	.prices__no {

		&::before {
			top: 50%;
			right: 50%;

			transform: translate(50%, -50%);
		}

	}

	.prices__toggles {
		display: none;
	}
}

@media (min-width: @desktop-width) {
	.prices {
		padding-top: 150px;
		padding-bottom: 100px;

		&::before {
			border-bottom-width: 82px;
		}
	}

	.prices__table td {
		min-height: 60px;
	}

	td.prices__feature {
		padding-top: 15px;
		min-height: 45px;
	}

	.prices__head td {
		padding-top: 18px;
		padding-bottom: 18px;
	}

	.prices__hit {

		&::before {
			top: 18px;
			left: -28px;

			width: 74px;
		}

		&::after {
			top: 17px;
			left: 14px;
		}
	}

	.prices__rate {
		font-size: 18px;
	}

	.prices__price {
		font-size: 24px;
		line-height: 30px;
	}

	.prices__feature {
		font-size: 18px;
	}
}
