.reviews {
	position: relative;
	
	padding-top: 45px;
	padding-bottom: 85px;
}

.reviews__wrapper {
	width: 88%;
	margin: 0 auto;
}

.reviews__item {
	.mp-reset;
	
	text-align: center;
}

.reviews__item--2,
.reviews__item--3 {
	display: none;
}

.reviews__author-name {
	.mp-reset;
	
	font-family: "OpenSansBold";
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
	
	& span {
		display: none;
	}
}

.reviews__author-name span {
	font-family: "OpenSans";
	font-weight: lighter;
	font-size: 14px;
	line-height: 30px;
	color: @main-color;
}

.reviews__text {
	.mp-reset;
	
	font-size: 14px;
	line-height: 30px;
	color: @main-color;
}

.reviews__toggles{
	position: absolute;
	bottom: 42px;
	left: 50%;
	
	.mp-reset;
	
	transform: translateX(-50%);
}

@media (min-width: @tablet-width) {
	.reviews__author-name {
		font-size: 20px
	}

	.reviews__text {
		font-size: 18px;
	}
}

@media (min-width: @desktop-width) {
	.reviews__author-name {
		font-size: 24px;
	}
	
	.reviews__author-name span {
		font-size: 18px;
	}
}
