.slider__toggles {
	.mp-reset;
	
	width: 62px;
	display: flex;
	justify-content: space-between;
}

.slider__toggle {
	.mp-reset;
	width: 12px;
	height: 12px;
	display: block;
	
	font-size: 0px;
	
	background-color: @main-color;
	border: 3px solid #ffffff;
	border-radius: 50%;
	opacity: 0.3;
	
	&:hover,
	&:focus {
		opacity: 0.6;
	}
	
	&:active {
		opacity: 0.1;
	}

	&--active {
		background-color: #ffffff;
		border-color: @main-color;
	}
}

.slider--show {
	display: block;
}